.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;

}


.navitem {
  float:left;
}

.navitem a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
} 

.navitem a:hover {
    background-color: yellow;
    color: white;
}






#homepage
{
  position: absolute;
}

#text{
  position: relative;
  color: green;
}











